@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html{
  font-size: 62.5%;
}

@theme {
  --spacing: 10px;
  --font-sans: "Roboto", sans-serif;

  --color-green: #00875f;
  --color-green-light: #00b37e;
  --color-danger: #f75a68;

  --color-gray-100: #e1e1e6;
  --color-gray-200: #c4c4cc;
  --color-gray-300: #8d8d99;
  --color-gray-400: #7c7c8a;
  --color-gray-500: #323238;
  --color-gray-600: #202024;
  --color-gray-700: #121214;

  --text-sm: 1.2rem;
  --text-sm--line-height: 160%;
  --text-md: 1.4rem;
  --text-md--line-height: 160%;
  --text-lg: 1.6rem;
  --text-lg--line-height: 160%;
}
